<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228844341932-lck94nrc5jk73knc9quh47hlb2r6jufc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228844341932-lck94nrc5jk73knc9quh47hlb2r6jufc</string>
	<key>API_KEY</key>
	<string>AIzaSyBW3Z2Zp2IguLoywVDNdu4HNfHuoZrNR_M</string>
	<key>GCM_SENDER_ID</key>
	<string>228844341932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.carsimulator</string>
	<key>PROJECT_ID</key>
	<string>carsimulator-90014</string>
	<key>STORAGE_BUCKET</key>
	<string>carsimulator-90014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228844341932:ios:b3e7d799a8535b1fed2d09</string>
</dict>
</plist>